body{
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav-bar li{
    list-style: none;
    display: inline;
}

.navbar-link{
    text-decoration: none;
    padding: 10px;
}

#webpage-heading{
    margin: 20px;
    padding: 30px;
}

#webpage-heading-image{
    display: block;
    margin: 0 auto; 
}

#input-query-div{
    display: flex;
    justify-content: center;
}

#search-box{
    width: 500px;
    height: 35px;
}

