body{
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav-bar li{
    list-style: none;
    display: inline;
}

.navbar-link{
    text-decoration: none;
    padding: 10px;
}

