body{
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav-bar li{
    list-style: none;
    display: inline;
}

.navbar-link{
    text-decoration: none;
    padding: 10px;
    color:black;
    opacity: 0.87;
    font-size: 13px;
}

#webpage-main{
    margin: 100px 0px 0px 0px;
}

#webpage-heading{
    margin: 20px;
    padding: 30px;
}

#webpage-heading-image{
    display: block;
    margin: 0 auto; 
}

#input-query-div{
    display: flex;
    justify-content: center;
}

#search-box{
    width: 570px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid thistle;
    margin: 15px 0px;
    outline: none;
    font-size: 17px;
    padding: 0px 35px;
}

#button-div{
    display: flex;
    justify-content: center;
}

.query-button{
    margin: 10px;
    padding: 10px;
    background-color:aliceblue;
    color:dimgray;
    border-style: hidden;
    border-radius: 5px;
}

button:hover{
    border: 2px solid grey;
 }

 .webpage-footer{
    background-color: lightgrey;
    opacity: 0.4; 
    position: fixed;
    margin: auto;
    width: 100%;
    left: 0;
    
 }

 #webpage-footer-one{    
     bottom: 45px;
     width: 100%;
     padding: 15px 45px;
 }

 #webpage-footer-two{
     bottom: 0px;
     display: flex;   
    justify-content:space-between;
   
 }

 #webpage-footer-two li{
    display: inline;
    padding: 10px;

 }

 .footer-link{
    text-decoration: none;
}

.footer-text{
    font-size: 15px;
    color:black;
    opacity: 1;
}



